.libs
.deps
autom4te.cache
*.[ao]
*.la
*.lo
*.Plo
*.loT
*~

traces.*
output.*
Makefile
semantic.cache
*_SK.cc
*_SK.h

stamp-h1
missing
ltmain.sh
libtool
install-sh
depcomp
config.sub
config.status
config.log
config.guess
compile
compile

#binaries

#links to configure

.nfs*
