.libs
.deps
autom4te.cache
*.[ao]
*.la
*.lo
*.Plo
*.loT
*~


.#*
traces.*
output.*
Makefile
Makefile.in
libtool
INSTALL

ltmain.sh
missing
install-sh
depcomp
configure
config.sub
config.guess
aclocal.m4

semantic.cache
*_SK.cc
*_iSK.cc
*_SK.h
/config.h
/config.h.in
include/extensions

stamp-h1
config.status
config.log
compile
#binaries
#links to configure

.nfs*
*.pc
docs/html/*
include/*_i.hh

Utilities/Admin/uniset-admin
Utilities/DBServer-MySQL/uniset-mysql-dbserver
Utilities/InfoServer/uniset-infoserver
Utilities/JrnTests/jrntest
Utilities/JrnTests/table.test
Utilities/MBTester/uniset-mbrtuslave-echo
Utilities/MBTester/uniset-mbrtutest
Utilities/MBTester/uniset-mbtcpserver-echo
Utilities/MBTester/uniset-mbtcptest
Utilities/NullController/uniset-nullController
Utilities/SMonit/uniset-smonit
Utilities/SViewer-text/uniset-sviewer-text
Utilities/codegen/tests/TestGen-main.cc
Utilities/codegen/tests/test
Utilities/codegen/uniset-codegen
docs/UniSetDox.cfg
docs/UniSetDoxDevel.cfg
extensions/IOControl/uniset-iocalibr
extensions/IOControl/uniset-iocontrol
extensions/IOControl/uniset-iotest
extensions/LogicProcessor/uniset-logicproc
extensions/LogicProcessor/uniset-plogicproc
extensions/RTUExchange/mtrconv
extensions/RTUExchange/rtustate
extensions/RTUExchange/uniset-rtuexchange
extensions/RTUExchange/vtconv
extensions/SharedMemory/uniset-smemory

extensions/MBTCPMaster/uniset-mbtcpmaster
extensions/ModbusSlave/uniset-mbslave
extensions/SMViewer/uniset-smviewer
extensions/SharedMemory/stop.sh
extensions/SharedMemory/test.xml

extensions/include

Utilities/Admin/alarm
Utilities/Admin/anotify
Utilities/Admin/create
Utilities/Admin/dnotify
Utilities/Admin/exist
Utilities/Admin/finish
Utilities/Admin/foldUp
Utilities/Admin/getCalibrate
Utilities/Admin/getRawValue
Utilities/Admin/getState
Utilities/Admin/getValue
Utilities/Admin/help
Utilities/Admin/info
Utilities/Admin/logrotate
Utilities/Admin/msgmap
Utilities/Admin/oinfo
Utilities/Admin/omap
Utilities/Admin/saveState
Utilities/Admin/saveValue
Utilities/Admin/setState
Utilities/Admin/setValue
Utilities/Admin/start
Utilities/Admin/stop.sh
Utilities/Admin/test.xml
Utilities/Admin/uniset-functions.sh
Utilities/Admin/uniset-start.sh
Utilities/SImitator/uniset-simitator

extensions/SharedMemory/uniset-functions.sh
extensions/SharedMemory/uniset-start.sh
extensions/UniNetwork/uniset-network
extensions/RTUExchange/mtr-conv
extensions/RTUExchange/mtr-setup
extensions/SharedMemory/smemory.log

tests/conftest
tests/passivetimer
tests/stop.sh
tests/test.out.xml
tests/test.out.xml.bak
tests/test.xml
tests/ui
tests/umutex
tests/unixml
