.libs
.deps
autom4te.cache
*.[ao]
*.la
*.lo
*.Plo
*.loT
*~

traces.*
output.*
Makefile
semantic.cache
*_SK.cc
*_iSK.cc
*_SK.h
config.h

stamp-h1
config.status
config.log
compile

#binaries

#links to configure

.nfs*

*.pc
docs/html/*
include/*_i.hh