name: testsuite

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: alt:sisyphus
      options: --privileged
    steps:
      - name: change repo
        run: |
             apt-get update && apt-get -y install epm && epm repo change yandex

      - name: install packages
        run: |
            apt-get update && apt-get -y install etersoft-build-utils su sudo \
            git-core ccache gcc-c++ etersoft-build-utils catch2-devel \
            libcomedi-devel libmariadb-devel libpqxx-devel librrd-devel libsqlite3-devel \
            libxml2-devel libsigc++2-devel libpoco-devel libev-devel libomniORB-devel libmosquitto-devel \
            xsltproc python-base python3-dev libomniORB-names libomniORB-idl libomniORB-utils swig python-devel \
            python-module-distribute iputils libclickhouse-cpp-devel libopen62541-devel libopen62541pp-devel \
            quickjs-devel quickjs-devel-static

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ vars.GITHUB_REF_NAME }}
          max-size: 1G
          save: true

      - name: configure
        run: |
            export CCACHE_ENABLE=yes
            export GCC_USE_CCACHE=1
            export CXXFLAGS='-pipe -O2 -pedantic -Wall'
            # due broken comedi
            export CXXFLAGS="$CXXFLAGS -Wl,--unresolved-symbols=ignore-in-shared-libs"
            autoreconf -fiv
            ./configure --disable-netdata --disable-python
      - name: make
        run: |
            export GCC_USE_CCACHE=1
            export ALLOW_ROOT_USER=1
            echo "%_topdir %homedir/RPM" >> ~/.rpmmacros
            jmake
      - name: testsuite
        run: |
            cd testsuite;
            make check
      - name: 'Upload Artifacts'
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: testsuite-artifacts
          path: testsuite
          retention-days: 5
